.page-wrapper {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.page-wrapper__content {
  width: 1400px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.page-wrapper__cat-background {
  position: absolute;
  top: 1%;
  left: 1%;
  cursor: pointer;
}

.page-wrapper__navigation-bar {
  position: absolute;
  top: 5%;
  right: 5%;
}
